.window
    width 100%
    min-height 100vh
    background-color lightgray

#mudah-membuat-blog-dengan-vuepress
    text-align center
    margin-top 50px

#chatbiz-lunch-a-new-project
    margin-top 50px
    padding 20px 300px
    
#chatbiz-the-best-chatboot-ever
    padding 20px 300px
 